/*
body {
    font-family: 'Raleway';
}
*/

.col-md-4 h3 {
    font-size: 1.5em;
    font-family: 'Raleway';
}

h4 {
    font-size: 1.4em;
    color: #F2AB27;
    font-family: 'Raleway';
}

.col-xs-6 h4 {
    font-family: 'Raleway';
    font-size: 1.2em;
    color: #000000;
    /*    color: #414174;*/
}

.col-md-6 h4 {
    color: #000000;
}

.smaller {
    font-family: 'Raleway';
    text-align: justify;
}

#header {
    border-bottom-color: #dddddd;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    margin-bottom: 5px;
}

#provenance {
    width: 100%;
}

#residence {
    width: 100%;
}

.col-xs-6 {
    padding-right: 0px;
}

.col-xs-6 p {
    font-size: 1.2em;
    color: #414174;
}

#vulnerabilite p {
    font-size: 1.4em;
    color: #FC4349;
}

#statTotIndividus {
    font-size: 1.6em;
    color: #FC4349;
}

#statTotMenages {
    font-size: 1.6em;
    color: #FC4349;
}

#statTotVieux {
    font-size: 1.4em;
    color: #FC4349;
}

#statTotPrimaire {
    font-size: 1.4em;
    color: #FC4349;
}

#statTotCollege {
    font-size: 1.4em;
    color: #FC4349;
}

#statTotLycee {
    font-size: 1.4em;
    color: #FC4349;
}

#residenceChart g.row text {
    fill: #000000;
    font-family: Raleway;
}

#idpDepartement g.row text {
    fill: #000000;
    font-family: Raleway;
    font-size: 1.2em;
}

.map-container {
    display: none;
    margin-bottom: 30px;
}

.map-tip {
    position: absolute;
}

.d3-tip {
    padding: 5px;
    background-color: white;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    font-size: 1em;
}

#adm1layer path {
    cursor: pointer;
}

#adm1layer path.inactive {
    cursor: default;
}

.regionLabel {
    position: absolute;
    z-index: 2;
    bottom: 20px;
    right: 35px;
    text-align: right;
}

@media (min-width: 767px) {
    .container {
        margin: 20px auto;
    }
    .keystat {
        text-align: right;
        width: 64%;
    }
    .regionLabel {
        bottom: 65px;
    }
}
